
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>YETENEK</title>
</head>
<body>
    <center>
        •	C ,C++, C# proglamlama dillerini bilen biraz Access ile uğraşmış<br />
        •	Makine kodlarından assembly diline sahip<br />
        •	Bilgisayar sistemleri dersini almış (donanım olarak)<br />
        •	Microsoft Office kullanımı olan
    </center>

</body>
</html>
