
@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yabancı Dil</title>
</head>
<body>
    <div> 
        <center>
            •	İngilizce<br />
            •	Konuşma (orta)<br />
            •	Yazma(iyi)<br />
            •	Okuma (iyi)
        </center>
    </div>
</body>
</html>
