
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kişisel</title>
</head>
<body>
    <div><h4> 
             <center>
•	İsim: Sena Nur Kiraz<br />
•	Doğum Yeri: Üsküdar<br />
•	Doğum Tarihi: 05.12.1996<br />
•	Uyruğu: T.C<br />
•	Medeni Durumu: Bekar<br />
•	Ehliyet:  B
             </center>
</h4> 
        
    </div>
</body>
</html>
