
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eğitim</title>
</head>
<body>
    
   <h4>
       <center>
       •	Trakya Üniversitesi<br />
       •	Bilgisayar Mühendisliği<br />
       •	2015 girişli 3.sınıf
       </center>
   </h4>
    
    <div> 
    </div>
</body>
</html>
